@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --primary-col:#A08CFF;
  --secondary-col:#AAFFC7;
  --greenparrot:#00EB6D;
  --greenparrot1:rgb(0, 235, 110,.9);
  --greenparrot2:#00EB6E;
  --greenparrot3:#01EB6E;
  --lightgreen :#AAFFC7;
  --third-col:#462B34;
  --fourth-col:#ABFFC9;
  --background: #ffffff;
  --foreground: #171717;
  --black:   #0e0e0e;
  --border-radius-large:30px;
  --brown-tint:#f3ecfe;
  --lavender:#c3a0f8;
  --brown-tint:#f3ecfe;
  --tomato:#ff5f3b;
  --peach-light:#fbd0fb;
  --blueberry:#5f00f6;
  --chanterelle:#9d7a3c;
  --border-radius-medium:10px;
  --border-radius-small:5px;
  --peach:#fac0f9;
  --grey-dark:#dcd5c9;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html.has-scroll-smooth {
  overflow: hidden;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}
/* women speaking */
.bgone{
  background-image: url('https://madamspeaker.org.au/images/folder1.svg');
}
.bgsecond{
  background-image: url('https://madamspeaker.org.au/images/folder2.svg');
}

.bgthird{
  background-image: url('https://madamspeaker.org.au/images/folder3.svg');
}
[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}
/* onmission  */
/* firstcompo */
/* .herocardbg{
 
    background-image: linear-gradient(to bottom, var(--black), var(--tomato) 1px, var(--tomato) 20px);
  
} */

/* @media screen and (min-width: 1024px) and (max-height: 800px) {
  .marq{
  .herocardbg {
    background: linear-gradient(to bottom, var(--black), var(--tomato) 1px, var(--tomato) 20px);
  }
  }
} */